:root {
    --main-color: rgb(18, 18, 20);
    --green-color: rgb(4, 211, 97);
    --purple-color: #8257E6;
    --white-color: #ffffff;
    --orange-color: #fd951f;
}

*{
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 17px;
    height: 100%;
}

header ul{
    width: 100%;
    min-height: 25px;
    display: flex;
    padding: 15px ;
}

header ul li{
    list-style: none;
    float: left;
    margin-left: 25px;
}

header ul li a{
    text-decoration: none;
    color: var(--orange-color);
}


header ul li a:hover{
    color: var(--green-color);
    transition: 0.7s;
}



body .descricao{
    width: 50%;
    margin: auto;
}
.content{
    width: 75%;
    margin-left: 12.5%;
    margin-top: 50px;
}

.content h1{
    color: var(--orange-color);
    font-size: 23px;
    margin: 0 auto;
    text-align: center;
}

.content h2{
    color: var(--purple-color) ;
    font-size: 17px;
    margin-top: 20px;
}

.content p{
    color: #8a8a8a;
    font-size: 15px;
    margin-top: 5px;
}

.content .cardsPage{
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.content .card{
    flex-direction: column;
}

.content .card img{ 
    width: 350px;
    height: 195px;
}



.content .videolist{
    height: 500px;
    width: 100%;    
    display: flex;
    justify-content: center;

}

.content .video{
    width: 100%;
    margin-top: 25px;
}


footer .cpy{
    color: var(--orange-color);
    text-align: center;
    position: relative;

}